#/lib/systemd/system/opensvk.service
[Unit]
  Description=ЦБР СВК

[Service]
  ExecStart=/opt/openSVK/svkmain
  WorkingDirectory=/opt/openSVK
  Type=idle
  KillMode=process
  SyslogIdentifier=openSVK
  SyslogFacility=daemon
  Restart=on-failure
  #User=sysuser
  #Group=sysgroup
  EnvironmentFile=/opt/openSVK/service.env

[Install]
  WantedBy=multiuser.target